<div class="country-detail">
	<div class="country-detail-container">
		<div class="country-detail-container-name">Country Name</div>
		<div class="country-detail-container-score">
			<span class="country-detail-container-score-title">Overall Score</span>
			<span class="country-detail-container-score-overall-score">4</span>
		</div>
		<div class="country-detail-container-category">
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value=''></div>
				<span class="country-detail-container-category-section-name">LEADERSHIP</span>
			</div>
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value='1'></div>
				<span class="country-detail-container-category-section-name">INFRASTRUCTURE</span>
			</div>
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value='2'></div>
				<span class="country-detail-container-category-section-name">SERVICES & APPLICATIONS</span>
			</div>
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value='3'></div>
				<span class="country-detail-container-category-section-name">STRATEGY</span>
			</div>
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value='4'></div>
				<span class="country-detail-container-category-section-name">LEGISLATION</span>
			</div>
			<div class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" value='5'></div>
				<span class="country-detail-container-category-section-name">WORKFORCE</span>
			</div>
		</div>
		<div class="country-detail-container-context">
			<div class="country-detail-container-context-section">
				<span class="country-detail-container-context-section-name">CONTEXT</span>
				<div class="country-detail-container-context-section-details">
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.details.gniPerCapita}}</span>
						<span class="country-detail-container-context-section-details-info-title">GNI PER CAPITA</span>
					</div>
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.details.population}}</span>
						<span class="country-detail-container-context-section-details-info-title">TOTAL POPULATION</span>
					</div>
				</div>
			</div>
			<div class="country-detail-container-context-section">
				<span class="country-detail-container-context-section-name">HEALTH</span>
				<div class="country-detail-container-context-section-details">
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.details.lifeExpectancy}}</span>
						<span class="country-detail-container-context-section-details-info-title">LIFE EXPECTANCY</span>
					</div>
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.details.healthExpenditure}}</span>
						<span class="country-detail-container-context-section-details-info-title">HEALTH EXPENDITURE</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
