<div class="country-detail">
	<div class="country-detail-container">
		<div class="country-detail-container-name">{{healthIndicators.countryName}}</div>
		<div class="country-detail-container-score">
			<span class="country-detail-container-score-title">Overall Score</span>
			<span class="country-detail-container-score-overall-score">{{healthIndicators.countryPhase}}</span>
		</div>
		<div class="country-detail-container-category">
			<div v-for="(catagory, index) in healthIndicators.categories" class="country-detail-container-category-section">
				<div class="country-detail-container-category-section-phase" :value="catagory.phase"></div>
				<span class="country-detail-container-category-section-name">{{catagory.name}}</span>
			</div>
		</div>
		<div class="country-detail-container-context">
			<div class="country-detail-container-context-section">
				<span class="country-detail-container-context-section-name">CONTEXT</span>
				<div class="country-detail-container-context-section-details">
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.gniPerCapita}}</span>
						<span class="country-detail-container-context-section-details-info-title">GNI PER CAPITA</span>
					</div>
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.population}}</span>
						<span class="country-detail-container-context-section-details-info-title">TOTAL POPULATION</span>
					</div>
				</div>
			</div>
			<div class="country-detail-container-context-section">
				<span class="country-detail-container-context-section-name">HEALTH</span>
				<div class="country-detail-container-context-section-details">
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.lifeExpectancy}}</span>
						<span class="country-detail-container-context-section-details-info-title">LIFE EXPECTANCY</span>
					</div>
					<div class="country-detail-container-context-section-details-info">
						<span class="country-detail-container-context-section-details-info-score">{{developmentIndicators.healthExpenditure}}</span>
						<span class="country-detail-container-context-section-details-info-title">HEALTH EXPENDITURE</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
