<div class="country-detail">

  <div class="health-indicator-section">
    <span class="country-name">{{healthIndicatorData.countryName}}</span>
    <div class="title">Overall Digital Health Maturity</div>
    <div class="phase-content">
      <div class="score">{{healthIndicatorData.countryPhase}}</div>
      <div class="phase-desc">Lorem</div>
    </div>
    <div class="health-indicators">
      <div v-for="(catagory, index) in healthIndicatorData.categories" class="indicator-panel-container-category-section">
        <div class="category-bar">
          <div class="bar">
            <div :class="'indicator-panel-container-category-section-phase phase' + catagory.phase" :value="catagory.phase"></div>
            <span class="indicator-panel-container-category-section-name">{{catagory.name}}</span>
          </div>
          <div class="category-expand">+</div>
        </div>

      </div>

    </div>
  </div>
  <div class="context-section">

  </div>
</div>
