.indicator-panel {
  background: white;
  position: absolute;
  top:3px;
  width: 300px;
  box-shadow: 1px 1px 10px 1px #CCC;
  text-transform: uppercase;
  font-family: Roboto !important;
  z-index: 1000;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  &-error {
    font-size: 12px;
    font-family: 'RobotoSlabRegular';
    text-transform: capitalize;
    color: red;
    margin-top: 10px;
    text-align: left;
  }

  &-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 95%;
    margin: 15px 15px;
    &-expand-btn {
      cursor: pointer;
      font-size: 35px;
      color: #666666;
    }
    &-name {
      position: relative;
      font-family: 'RobotoSlabRegular';
      font-size: 22px;
      text-transform: none;
      width: 100%;
    }

    &-desc {
      font-size: 11px;
      color: $font-grey-dark;
      text-transform: none;
      line-height: 1.5;
      font-family: 'RobotoLight';
      padding-top: 5px;
      width: 100%;
    }

    &-context {
      width: 100%;
      font-family: 'RobotoSlabRegular';
      &-name {
        font-size: 12px;
      }
      &-details {
        display: flex;
        padding: 5px;
        margin-top: 3px;
        margin-bottom: 5px;
        background: $score-background1;
        &-info {
          display: inline-block;
          width: 50%;
          padding-right: 15px;
          &-score, &-title {
            display: block;
            text-align: center;
          }
          &-score {
            font-size: 18px;
            font-family: 'RobotoSlabRegular';
          }
          &-title {
            font-size: 11px;
            font-family: 'RobotoRegular';
            color: $font-grey-dark;
            padding-top: 3px;
          }
        }
      }

      &-section {
        padding-top: 11px;
        &-name {
          font-size: 12px;
          height: 22px;
          background: $score-background2;
          line-height: 1.75;
          padding-left: 20px;
        }
        &-details {
          display: flex;
          padding: 18px;
          &-info {
            display: inline-block;
            width: 50%;
            padding-right: 15px;
            &-score, &-title {
              display: block;
              text-align: center;
            }
            &-score {
              font-size: 20px;
              font-family: 'RobotoSlabRegular';
            }
            &-title {
              font-size: 11px;
              font-family: 'RobotoRegular';
              color: $font-grey-dark;
              padding-top: 3px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    &-category {
      width: 100%;
      &-section {
        padding-top: 8px;
        &-name {
          font-size: 12px;
          text-transform: uppercase;
          font-family: 'RobotoSlabRegular';
        }
        &-phase {
          position: relative;
          background: #DFDCDF;
          border-radius: 15px;
          margin-top: 2px;
          width: 98%;
          text-transform: uppercase;

          &:before {
            content: '';
            color: white;
            font-weight: 600;
            position: absolute;
            overflow: hidden;
            z-index: 1;
            font-size: 11px;
            text-align: right;
            margin-top: -1px;
            transform: translateX(-10px);
            font-family: 'RobotoBold';
          }

          &:after {
            content: '';
            display: block;
            height: 10px;
            width: 0;
            border-radius: 15px;
            background-color: $na;
            position: relative;
            overflow: hidden;
          }

          &[value="1"]::after, &[value="1"]::before {
            width: 20%;
          }
          &[value="2"]::after, &[value="2"]::before {
            width: 40%;
          }
          &[value="3"]::after, &[value="3"]::before {
            width: 60%;
          }
          &[value="4"]::after, &[value="4"]::before {
            width: 80%;
          }
          &[value="5"]::after, &[value="5"]::before {
            width: 100%;
          }
          &[value="1"]::before {
            content: 'phase 1';
            transform: translateX(-7px);

          }
          &[value="2"]::before {
            content: 'phase 2';
          }
          &[value="3"]::before {
            content: 'phase 3';
          }
          &[value="4"]::before {
            content: 'phase 4';
          }
          &[value="5"]::before {
            content: 'phase 5';
          }
          &.phase1::after {
            background-color: $score1;
          }
          &.phase2::after {
            background-color: $score2;
          }
          &.phase3::after {
            background-color: $score3;
          }
          &.phase4::after {
            background-color: $score4;
          }
          &.phase5::after {
            background-color: $score5;
          }
        }
      }
    }
  }

  &-button {
    border: 1px solid #404E7B;
    background-color: #404E7B;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.15);
    border-radius: 3px;
    font-size: 12px;
    font-family: 'RobotoSlabRegular';
    margin-top: 12px;
    text-align: center;
    width: 90%;
    padding: 12px;
  }
  .show {
    width: 100%;
  }
}
@media screen and (min-width: 1640px) {
  .indicator-panel {
    top: 40px;
  }
}
