.country-detail {
  .copy-blue {
    margin-top: 20px;
  }
  .sub-header {
    text-transform: uppercase;
  }
  .score, .indicator-score {
    padding: 10px;
    color: $white;
    text-align: center;
    min-width: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  .indicator {
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
  }
  .indicator-desc {
    width: calc(100% - 48px);
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    margin-right: 20px;
  }
  .heading-row div {
    display: inline-block;
    padding: 10px 0;
    border-bottom: 2px solid $border-color;
    margin-bottom: 10px;
    margin-left: -4px;
    &:first-child {
      width: calc(100% - 52px);
      margin-left: 0px;
    }
  }
  .header-bold {
    text-transform: capitalize;
  }
  .country-text {
    list-style: none;
  }
  .header-section {
    position: relative;
  }
  #collected-date {
    position: absolute;
    bottom: 20px;
    left: 80px;
  }
  .accordion-content {
    .indicator {
      display: flex;
      align-items: center;
    }
  }
}

//development indicators 
.development-indicators {
  .indicator {
    width: 25%;
    margin-right: 20px;
    border: none;
  }
}
