<div class="countries-container content-centered">
  <div class="countries-list">
    <div class="countries-list-heading page-title">{{ $t('countryList.title') }}</div>
    <div class="countries-list-section-export float-right">
        <span><a href="/api/export_global_data" class="btn btn-primary">{{ $t('countryList.exportButtonText') }}</a></span>
      </div>
    <div class="countries-list-section clearfix">
      <div class="countries-list-section-description">
        <p>{{ $t('countryList.line1') }}</p>
      <p>{{ $t('countryList.line2') }}</p></div>
    </div>
    <ul class="countries-list-details">
      <li v-for="country in countryList" class="countries-list-details-country">
        <span :class="'country-score phase' + country.overallPhase">{{country.overallPhase ? country.overallPhase : "NA"}}</span>
        <span class="country-name" @click="showCountryDetails(country.countryId)">{{country.countryName}}</span>
      </li>
    </ul>
  </div>
</div>
