<div class="countries-container">
<div class="countries-list">
  <span class="countries-list-heading">List of Countries</span>
  <div class="countries-list-section">
    <div class="countries-list-section-description">
      <p>The overall GDHI phases are listed below for each participating country. Country scores on 19 indicators determine the overall phase of digital health for a country.</p>
    <p>For a more detailed breakdown for each country, please visit the individual country page</p></div>
    <div class="countries-list-section-export">
      <span><a href="/api/export_global_data">Export Data For All Countries</a></span>
    </div>
  </div>
  <ul class="countries-list-details">
    <li v-for="country in countryList" class="countries-list-details-country">
      <a href="javascript:void(0);"><span class="countries-list-details-country-name" @click="showCountryDetails(country.countryId)">{{country.countryName}}</span></a>
      <span class="countries-list-details-country-score">{{country.overallPhase}}</span>
    </li>
  </ul>
</div>
</div>
