<div class="health-indicator">
	<div class="health-indicator-container">
		<div class="health-indicator-container-name">{{healthIndicators.countryName}}</div>
		<div class="health-indicator-container-score">
			<span class="health-indicator-container-score-title">Overall Score</span>
			<span class="health-indicator-container-score-overall-score">{{healthIndicators.countryPhase}}</span>
		</div>
		<div class="health-indicator-container-category">
			<div v-for="(catagory, index) in healthIndicators.categories" class="health-indicator-container-category-section">
				<div class="health-indicator-container-category-section-phase" :value="catagory.phase"></div>
				<span class="health-indicator-container-category-section-name">{{catagory.name}}</span>
			</div>
		</div>
		<div class="health-indicator-container-context">
			<div v-for="indicatorCategory in developmentIndicators" class="health-indicator-container-context-section">
				<span class="health-indicator-container-context-section-name">{{Object.keys(indicatorCategory)[0]}}</span>
				<div v-for="indicators in indicatorCategory" class="health-indicator-container-context-section-details">
						<div v-for="(indicator, key) in indicators" class="health-indicator-container-context-section-details-info">
							<span class="health-indicator-container-context-section-details-info-score">{{indicator}}</span>
							<span class="health-indicator-container-context-section-details-info-title">{{key}}</span>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
