<div class="indicator-panel">
	<div class="indicator-panel-container" v-if="!showCountryDetail">
		<div class="indicator-panel-container-name">Summary</div>

		<div class="indicator-panel-container-category" v-if = "globalHealthIndicators.overallCountryScore">
			<div class="indicator-panel-container-category-section">
				<span class="indicator-panel-container-category-section-name">Overall</span>
				<div :class="'indicator-panel-container-category-section-phase phase' + globalHealthIndicators.overallCountryScore" :value="globalHealthIndicators.overallCountryScore"></div>
			</div>
		</div>
		<div class = "indicator-panel-error" v-else>No Global Health Indicators Available</div>
			<div class="indicator-panel-container-category">
				<div v-for="(catagory, index) in globalHealthIndicators.categories" class="indicator-panel-container-category-section">
					<span class="indicator-panel-container-category-section-name">{{catagory.name}}</span>
					<div :class="'indicator-panel-container-category-section-phase phase' + catagory.phase" :value="catagory.phase"></div>
				</div>
			</div>
	</div>
	<div class="indicator-panel-container" v-else>
		<div class="indicator-panel-container-name">{{healthIndicators.countryName}}</div>

		<div class="indicator-panel-container-category" v-if = "healthIndicators.countryPhase">
			<div class="indicator-panel-container-category-section">
				<span class="indicator-panel-container-category-section-name">Overall Score</span>
				<div :class="'indicator-panel-container-category-section-phase phase' + healthIndicators.countryPhase" :value="healthIndicators.countryPhase"></div>
			</div>
		</div>
	<div class = "indicator-panel-error" v-else>No Health Indicators Available</div>
		<div class="indicator-panel-container-category">
			<div v-for="(catagory, index) in healthIndicators.categories" class="indicator-panel-container-category-section">
				<span class="indicator-panel-container-category-section-name">{{catagory.name}}</span>
				<div :class="'indicator-panel-container-category-section-phase phase' + catagory.phase" :value="catagory.phase"></div>
			</div>
		</div>
		<div class="indicator-panel-container-context">
			<div v-for="indicatorCategory in developmentIndicators" class="indicator-panel-container-context-section">
				<span class="indicator-panel-container-context-section-name">{{Object.keys(indicatorCategory)[0]}}</span>
				<div v-for="indicators in indicatorCategory" class="indicator-panel-container-context-section-details">
						<div v-for="(indicator, key) in indicators" class="indicator-panel-container-context-section-details-info">
							<span class="indicator-panel-container-context-section-details-info-score">{{indicator}}</span>
							<span class="indicator-panel-container-context-section-details-info-title">{{key}}</span>
						</div>
				</div>
			</div>
		</div>
	</div>
  <button v-if="!showCountryDetail">VIEW LIST OF COUNTRIES</button>
  <button v-else @click="showCountryDetails(healthIndicators.countryId)">VIEW DETAILS</button>
</div>
