<div class="content-centered">
    <div>
        <div class="search-box hd-element">
            <autocomplete
                id="search-box"
                :source="countries"
                resultsValue="unique_id"
                placeholder="Search by country name"
                input-class="search-box-container"
                @selected="onCountrySelect"
                />
            </autocomplete>
            <div>  
                <button class="btn btn-primary" @click="generateUrl()">Generate URL</button>
            </div>
        </div>    
    </div>
    <div>
        <div><input v-model="generatedURL" type="text" id="url-box" readonly></div>
        <div class="float-right"><button class="btn btn-secondary" @click="copyUrl()">Copy url</button></div>
    </div>
    
</div>

