<div class="health-indicator-questionnaire content-centered">
  <span v-if="success" class="success">Form saved successfully</span>
  <span v-if="error" class="error">Please correct the below highlighted fields.</span>
  <div class="health-indicator-questionnaire-heading">List of Indicator Form</div>
  <form class="health-indicator-questionnaire-contact-info">
    <div class="health-indicator-questionnaire-contact-info-heading">Contact Information</div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="custom-form-width">
        <label for="countryName">Country Name</label><span class="mandatory-field">*</span>
        <input :class="errors.has('countryName') ? 'has-error form-control' : 'form-control'" type="input"
               id="countryName" name="countryName"
               v-validate="{required: true, countryName: this.countries}"
               :title="errors.has('countryName') ? 'Country Name is either empty or invalid' :'Please Choose a Country'">
      </div>
      <div class="custom-form-width-2">
        <label for="date">Date for which data was collected (DD-MM-YYYY)</label><span class="mandatory-field">*</span>
        <input type="input"
               :class="errors.has('collectedDate') ? 'has-error form-control' : 'form-control'"
               name='collectedDate' id="date"
               v-model="countrySummary.collectedDate"
               v-validate="'required|date_format:DD-MM-YYYY'"
               :title="errors.has('collectedDate') ? 'Date for which data was collected is either empty or invalid' : 'Please Enter Date' ">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonEnteringData">Name of person entering data</label><span class="mandatory-field">*</span>
        <input type="input" name='feederName'
               :class="errors.has('feederName') ? 'has-error form-control' : 'form-control'"
               id="nameofPersonEnteringData"
               v-validate="'required'"
               v-model="countrySummary.dataFeederName"
               :title="errors.has('feederName') ? 'Name of person entering data is required' : 'Please Enter Name of person entering data'">
      </div>
      <div class="form-group">
        <label for="roleOfPersonEnteringData">Role of the person entering data</label><span class="mandatory-field">*</span>
        <input type="input" name="feederRole"
               :class="errors.has('feederRole') ? 'has-error form-control' : 'form-control'"
               id="roleOfPersonEnteringData"
               v-validate="'required'"
               v-model="countrySummary.dataFeederRole"
               :title="errors.has('feederRole') ? 'Role of the person entering data is required' : 'Please Enter Role of the person entering data'">
      </div>
      <div class="form-group">
        <label for="emailOfPersonEnteringData">Email of the person entering data</label><span class="mandatory-field">*</span>
        <input type="email" name='feederEmail'
               :class="errors.has('feederEmail') ? 'has-error form-control' : 'form-control'"
               id="emailOfPersonEnteringData"
               v-validate="'required|email'"
               v-model="countrySummary.dataFeederEmail"
               :title="errors.has('feederEmail') ? 'Please enter valid email' : 'Enter email'">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonCollectedData">Name of the person who collected data</label>
        <input type="input" class="form-control" id="nameofPersonCollectedData"
               v-model="countrySummary.dataCollectorName">
      </div>
      <div class="form-group">
        <label for="roleofPersonCollectedData">Role of the person who collected data</label>
        <input type="input" class="form-control" id="roleofPersonCollectedData"
               v-model="countrySummary.dataCollectorRole">
      </div>
      <div class="form-group">
        <label for="emailofPersonCollectedData">Email of the person who collected data</label>
        <input type="email" class="form-control" id="emailofPersonCollectedData"
               v-model="countrySummary.dataCollectorEmail">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofCountryContact">Name of the country contact</label><span class="mandatory-field">*</span>
        <input type="input" name="countryContact"
               :class="errors.has('countryContact') ? 'has-error custom-form-control' : 'custom-form-control'"
               id="nameofCountryContact" v-validate="'required'"
               v-model="countrySummary.contactName"
               :title="errors.has('countryContact') ? 'Country contact is Required' : 'Country contact'"
        >
      </div>
      <div class="form-group">
        <label for="roleofCountryContact">Role of the country contact</label><span class="mandatory-field">*</span>
        <input type="input" name="contactRole"
               :class="errors.has('contactRole') ? 'has-error form-control' : 'form-control'"
               id="roleofCountryContact"
               v-validate="'required'"
               :title="errors.has('contactRole') ? 'Role of the country contact is Required' : 'Role of the country contact'"
               v-model="countrySummary.contactDesignation">
      </div>
      <div class="form-group">
        <label for="emailofCountryContact">Email of the country contact</label><span class="mandatory-field">*</span>
        <input type="email" name="contactEmail"
               :class="errors.has('contactEmail') ? 'has-error form-control' : 'form-control'"
               id="emailofCountryContact" v-validate="'required|email'" v-model="countrySummary.contactEmail"
               :title="errors.has('contactEmail') ? 'Please enter valid email' : 'Enter email'">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="custom-form-width">
        <label for="countrySummary">Country Summary</label><span class="mandatory-field">*</span>
        <textarea name="countrySummary" :class="errors.has('countrySummary') ? 'has-error form-control custom-width' : 'form-control custom-width'" id="countrySummary" v-model="countrySummary.summary" v-validate="'required'"
                  :title="errors.has('countrySummary') ? 'Country summary is Required' : 'Country summary'"></textarea>
      </div>
      <div class="custom-form-width-2">
        <label for="Organisation">Organisation of the country contact</label><span class="mandatory-field">*</span>
        <input type="input" class="form-control"
               id="Organisation" name="Organisation"
               v-model="countrySummary.contactOrganization"
               :title="errors.has('contactOrganization') ? 'Please enter Organisation' : 'Enter Organisation of the country contact'"
               :class="errors.has('contactOrganization') ? 'has-error form-control' : 'form-control'">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-info-heading">Resource Information
      <div class="health-indicator-questionnaire-contact-info-description">
        Please provide links to digital health related resources for your country.</div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="resource1">Resource 1</label><span class="mandatory-field">*</span>
        <input type="text" name="resource1" id="resource1" name="resource1"
               v-model="countrySummary.resources[0]" v-validate="'required'"
               :class="errors.has('resource1') ? 'has-error form-control' : 'form-control'"/>
      </div>
      <div class="form-group">
        <label for="resource2">Resource 2</label>
        <input type="text" class="form-control" id="resource2" name="resource2" v-model="countrySummary.resources[1]"/>
      </div>
      <div class="form-group">
        <label for="resource3">Resource 3</label>
        <input type="text" class="form-control" id="resource3" name="resource3" v-model="countrySummary.resources[2]"/>
      </div>
      <div class="form-group">
        <label for="resource4">Resource 4</label>
        <input type="text" class="form-control" id="resource4" name="resource4" v-model="countrySummary.resources[3]"/>
      </div>
      <div class="form-group">
        <label for="resource5">Resource 5</label>
        <input type="text" class="form-control" id="resource5" name="resource5" v-model="countrySummary.resources[4]"/>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-info-heading">Indicator Details</div>
    <div class="table">
      <div class="table-row table-header">
        <div class="table-row-item column-flex-grow-sno border-right-no align-header-text">No.</div>
        <div class="table-row-item align-header-text">Category</div>
        <div class="table-row-item align-header-text indicator-resize"></div>
      </div>

      <div v-for="category in questionnaire" class="table-row">
        <div class="table-row-item table-font column-flex-grow" data-header="No.">
          <span class="align-No">{{category.categoryId}}</span>
        </div>
        <div class="table-row-item indicator-data" data-header="Category" :id="category.categoryName">
          {{category.categoryName}}
        </div>
        <div class="table-row-item containers" data-header="Indicator">
          <div v-for="indicator in category.indicators"
               :class="errors.has('indicator_'+indicator.indicatorId+'_rationale') ? 'has-error' : 'container-items'">
            <div class="accordian">
              <div class="bold-text">{{indicator.indicatorName}}</div>
              <div>{{indicator.indicatorDefinition}}</div>
            </div>
            <span class='expand-btn' @click="onIndicatorExpand(indicator)">{{indicator.expandCollapseBtn}}</span>
            <div class="accordian-content" :class="{hide: !indicator.showIndicator}">
              <div v-for="score in indicator.scores" class="scores">
                <input type="radio" :name="indicator.indicatorId"
                       v-model="healthIndicators[indicator.indicatorId].score"
                       :value="score.score"/>
                <div class="score-info">
                  <span class="score-content">{{score.score}}</span>
                  <span class="score-content">-</span>
                  <span>{{score.scoreDefinition}}</span>
                </div>
              </div>
              Rationale or supporting text
              <textarea class="description"  :name="'indicator_' + indicator.indicatorId + '_rationale'"
                        v-model="healthIndicators[indicator.indicatorId].supportingText"
                        v-validate="'required'"></textarea>
              <div v-show="errors.has('indicator_'+indicator.indicatorId+'_rationale')" class="error-info">The rationale field is required.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <a class="arrow" href="#"></a>
    </div>
  </form>
  <button class="submit-btn" @click="submit()">Submit</button>
</div>
