<div class="health-indicator-questionnaire content-centered">
  <div class="health-indicator-questionnaire-heading">List of Indicator Form</div>
  <form class="health-indicator-questionnaire-contact-info">
    <div class="health-indicator-questionnaire-contact-info-heading">Contact Information</div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="countryName">Country Name</label>
        <input type="input" class="form-control" id="countryName" v-model="countryId" required>
      </div>
      <div class="form-group">
        <label for="Organisation">Organisation</label>
        <input type="input" class="form-control" id="Organisation" v-model="countrySummary.contactOrganization" required>
      </div>
      <div class="form-group">
        <label for="date">Date for which data was collected</label>
        <input type="input" class="form-control" id="date" v-model="countrySummary.collectedDate" required>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonEnteringData">Name of person entering data</label>
        <input type="input" class="form-control" id="nameofPersonEnteringData" v-model="countrySummary.dataFeederName" required>
      </div>
      <div class="form-group">
        <label for="roleOfPersonEnteringData">Role of the person entering data</label>
        <input type="input" class="form-control" id="roleOfPersonEnteringData" v-model="countrySummary.dataFeederRole" required>
      </div>
      <div class="form-group">
        <label for="emailOfPersonEnteringData">Email of the person entering data</label>
        <input type="email" class="form-control" id="emailOfPersonEnteringData" v-model="countrySummary.dataFeederEmail" required>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonCollectedData">Name of the person who collected data</label>
        <input type="input" class="form-control" id="nameofPersonCollectedData" v-model="countrySummary.dataCollectorName" required>
      </div>
      <div class="form-group">
        <label for="roleofPersonCollectedData">Role of the person who collected data</label>
        <input type="input" class="form-control" id="roleofPersonCollectedData" v-model="countrySummary.dataCollectorRole" required>
      </div>
      <div class="form-group">
        <label for="emailofPersonCollectedData">Email of the person who collected data</label>
        <input type="email" class="form-control" id="emailofPersonCollectedData" v-model="countrySummary.dataCollectorEmail" required>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofCompanyContact">Name of the company contact</label>
        <input type="input"class="form-control" id="nameofCompanyContact" v-model="countrySummary.contactName" required>
      </div>
      <div class="form-group">
        <label for="roleofCompanyContact">Role of the company contact</label>
        <input type="input" class="form-control" id="roleofCompanyContact" v-model="countrySummary.contactDesignation" required>
      </div>
      <div class="form-group">
        <label for="emailofCompanyContact">Email of the company contact</label>
        <input type="email" class="form-control" id="emailofCompanyContact" v-model="countrySummary.contactEmail" required>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="countrySummary">Country Summary</label>
        <textarea class="form-control custom-width" id="countrySummary" v-model="countrySummary.summary" required></textarea>
      </div>
    </div>
  </form>
  <div class="table">
    <div class="table-row table-header">
      <div class="table-row-item column-flex-grow-sno border-right-no align-header-text">No.</div>
      <div class="table-row-item align-header-text">Category</div>
      <div class="table-row-item align-header-text column-flex-grow-sno">No.</div>
      <div class="table-row-item align-header-text">Indicator</div>
    </div>

    <div v-for="category in questionnaire" class="table-row">
      <div class="table-row-item table-font column-flex-grow" data-header="No.">
        <span class="align-No">{{category.categoryId}}</span>
      </div>
      <div class="table-row-item indicator-data" data-header="Category" :id="category.categoryName">
        {{category.categoryName}}
      </div>

      <div class="table-row-item containers column-flex-grow-sno" data-header="sNo.">
        <div v-for="indicator in category.indicators" class="table-font half-containers">
          <span class="align-No">{{indicator.indicatorId}}</span>
        </div>
      </div>

      <div class="table-row-item containers" data-header="Indicator">
        <div v-for="indicator in category.indicators" class="medium-font half-containers">
          <div class="accordian">
            <div class="block-with-text bold-text">{{indicator.indicatorName}}</div>
            <div class="block-with-text">{{indicator.indicatorDefinition}}</div>
          </div>
          <span class='expand-btn' @click="onIndicatorExpand(indicator)">{{indicator.expandCollapseBtn}}</span>
          <div class="accordian-content" v-if="indicator.showIndicator">
           <div v-for="score in indicator.scores" class="scores">
            <input type="radio" :name="indicator.indicatorId" v-model="healthIndicators[indicator.indicatorId].score"
                   :value="score.score"/>
            {{score.scoreDefinition}}
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
  <button @click="submit()">Submit</button>
</div>

