<div class="health-indicator-questionnaire content-centered">
  <span v-if="saved" class="success">Form saved successfully</span>
  <div class="health-indicator-questionnaire-heading">List of Indicator Form</div>
  <form class="health-indicator-questionnaire-contact-info">
    <div class="health-indicator-questionnaire-contact-info-heading">Contact Information</div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="countryName">Country Name</label>
        <input :class="errors.has('collectedDate') ? 'has-error form-control' : 'form-control'" type="input"
               id="countryName" name="countryName"
               v-validate="'required'"
               v-model="countryId"
               :title="errors.has('collectedDate') ? 'Country Name is required' :'Please Choose a Country'">
      </div>
      <div class="form-group">
        <label for="Organisation">Organisation</label>
        <input type="input" class="form-control" id="Organisation" name="Organisation"
               v-model="countrySummary.contactOrganization">
      </div>
      <div class="form-group">
        <label for="date">Date for which data was collected (DD-MM-YYYY)</label>*
        <input type="input"
               :class="errors.has('collectedDate') ? 'has-error form-control' : 'form-control'"
               name='collectedDate' id="date"
               v-model="countrySummary.collectedDate"
               v-validate="'required|date_format:DD-MM-YYYY'"
               :title="errors.has('collectedDate') ? 'Date for which data was collected is either empty or invalid' : 'Please Enter Date' ">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonEnteringData">Name of person entering data</label>*
        <input type="input" name='feederName'
               :class="errors.has('feederName') ? 'has-error form-control' : 'form-control'"
               id="nameofPersonEnteringData"
               v-validate="'required'"
               v-model="countrySummary.dataFeederName"
               :title="errors.has('feederName') ? 'Name of person entering data is required' : 'Please Enter Name of person entering data'">
      </div>
      <div class="form-group">
        <label for="roleOfPersonEnteringData">Role of the person entering data</label>*
        <input type="input" name="feederRole"
               :class="errors.has('feederRole') ? 'has-error form-control' : 'form-control'"
               id="roleOfPersonEnteringData"
               v-validate="'required'"
               v-model="countrySummary.dataFeederRole"
               :title="errors.has('feederRole') ? 'Role of the person entering data is required' : 'Please Enter Role of the person entering data'">
      </div>
      <div class="form-group">
        <label for="emailOfPersonEnteringData">Email of the person entering data</label>*
        <input type="email" name='feederEmail'
               :class="errors.has('feederEmail') ? 'has-error form-control' : 'form-control'"
               id="emailOfPersonEnteringData"
               v-validate="'required|email'"
               v-model="countrySummary.dataFeederEmail"
               :title="errors.has('feederEmail') ? 'Please enter valid email' : 'Enter email'">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofPersonCollectedData">Name of the person who collected data</label>
        <input type="input" class="form-control" id="nameofPersonCollectedData"
               v-model="countrySummary.dataCollectorName">
      </div>
      <div class="form-group">
        <label for="roleofPersonCollectedData">Role of the person who collected data</label>
        <input type="input" class="form-control" id="roleofPersonCollectedData"
               v-model="countrySummary.dataCollectorRole">
      </div>
      <div class="form-group">
        <label for="emailofPersonCollectedData">Email of the person who collected data</label>
        <input type="email" class="form-control" id="emailofPersonCollectedData"
               v-model="countrySummary.dataCollectorEmail">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="nameofCountryContact">Name of the country contact</label>*
        <input type="input" name="countryContact"
               :class="errors.has('countryContact') ? 'has-error form-control' : 'form-control'"
               id="nameofCountryContact" v-validate="'required'"
               v-model="countrySummary.contactName"
               :title="errors.has('countryContact') ? 'Country contact is Required' : 'Country contact'"
               >
      </div>
      <div class="form-group">
        <label for="roleofCountryContact">Role of the country contact</label>*
        <input type="input" name="contactRole"
               :class="errors.has('contactRole') ? 'has-error form-control' : 'form-control'"
               id="roleofCountryContact"
               v-validate="'required'"
               :title="errors.has('contactRole') ? 'Role of the country contact is Required' : 'Role of the country contact'"
               v-model="countrySummary.contactDesignation">
      </div>
      <div class="form-group">
        <label for="emailofCountryContact">Email of the country contact</label>*
        <input type="email" name="contactEmail"
               :class="errors.has('contactEmail') ? 'has-error form-control' : 'form-control'"
               id="emailofCountryContact" v-validate="'required|email'" v-model="countrySummary.contactEmail"
               :title="errors.has('contactEmail') ? 'Please enter valid email' : 'Enter email'">
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="resource1">Resource 1</label>
        <input type="text" class="form-control" id="resource1" name="resource1" v-model="countrySummary.resources[0]"/>
      </div>
      <div class="form-group">
        <label for="resource2">Resource 2</label>
        <input type="text" class="form-control" id="resource2" name="resource2" v-model="countrySummary.resources[1]"/>
      </div>
      <div class="form-group">
        <label for="resource3">Resource 3</label>
        <input type="text" class="form-control" id="resource3" name="resource3" v-model="countrySummary.resources[2]"/>
      </div>
      <div class="form-group">
        <label for="resource4">Resource 4</label>
        <input type="text" class="form-control" id="resource4" name="resource4" v-model="countrySummary.resources[3]"/>
      </div>
      <div class="form-group">
        <label for="resource5">Resource 5</label>
        <input type="text" class="form-control" id="resource5" name="resource5" v-model="countrySummary.resources[4]"/>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-form">
      <div class="form-group">
        <label for="countrySummary">Country Summary</label>
        <textarea class="form-control custom-width" id="countrySummary" v-model="countrySummary.summary"
                  required></textarea>
      </div>
    </div>
    <div class="health-indicator-questionnaire-contact-info-heading">Indicator Details</div>
    <div class="table">
      <div class="table-row table-header">
        <div class="table-row-item column-flex-grow-sno border-right-no align-header-text">No.</div>
        <div class="table-row-item align-header-text">Category</div>
        <div class="table-row-item align-header-text indicator-resize"></div>
      </div>

      <div v-for="category in questionnaire" class="table-row">
        <div class="table-row-item table-font column-flex-grow" data-header="No.">
          <span class="align-No">{{category.categoryId}}</span>
        </div>
        <div class="table-row-item indicator-data" data-header="Category" :id="category.categoryName">
          {{category.categoryName}}
        </div>
        <div class="table-row-item containers" data-header="Indicator">
          <div v-for="indicator in category.indicators"
               :class="(errors.has(indicator.indicatorId) || errors.has('rationale')) ? 'has-error' : 'container-items'">
            <div class="accordian">
              <div class="bold-text">{{indicator.indicatorName}}</div>
              <div>{{indicator.indicatorDefinition}}</div>
            </div>
            <span class='expand-btn' @click="onIndicatorExpand(indicator)">{{indicator.expandCollapseBtn}}</span>
            <div class="accordian-content" :class="{hide: !indicator.showIndicator}">
              <div v-for="score in indicator.scores" class="scores">
                <input type="radio" :name="indicator.indicatorId" v-validate="'required'"
                       v-model="healthIndicators[indicator.indicatorId].score"
                       :value="score.score"/>
                <span class="content-spacing">{{score.score}} - {{score.scoreDefinition}}</span>
              </div>
              <span v-show="errors.has(indicator.indicatorId)" class="error-info">
                Please select a value for above indicator</span><br/>
              Rationale or supporting text
              <textarea class="description" name="rationale"
                        v-model="healthIndicators[indicator.indicatorId].supportingText"
                        v-validate="'required'"></textarea>
              <div v-show="errors.has('rationale')" class="error-info">{{ errors.first('rationale') }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="submit-btn" @click="submit()">Submit</button>
  </form>
</div>

