.map-container {
  width: 100%;
  height: 100%;
  font-family: 'RobotoBold';
  .map-layer {
    //min-width: 1024px;
    width: 100%;
  }
  #map-canvas {
    height: calc(100vh - 126px);
    width: 100%;
    & > div {
      background-color: $bg-beige !important;
    }
  }
  .legend {
    position: absolute;
    right: 50px;
    bottom: 30px;
    .l-box {
      border: solid thin $header-grey;
      text-align: center;
      height: 20px;
    }
  }
  #zoomPos {
    position: absolute;
    top: 140px;
    left: 340px;
  }

}
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1300px) {
  .map-layer {
    //padding-left: 150px;
  }
  .map-container .indicator-panel {
    width: 250px;
  }
}

@media screen
and (min-device-width: 1301px)
and (max-device-width: 1400px) {
  .map-layer {
    //padding-left: 200px;
  }
}
@media screen
and (min-device-width: 1401px)
and (max-device-width: 1500px) {
  .map-layer {
    //padding-left: 290px;
  }
}
@media screen
and (min-device-width: 1501px)
and (max-device-width: 1800px) {
  .map-layer {
    //padding-left: 400px;
  }
}

@media screen
and (min-device-width: 1801px)
and (max-device-width: 1950px) {
  .map-layer {
    //padding-left: 500px;
  }
}
