<div class="indicators-info content-centered">
  <div class="indicators-info-content">
    <div class="indicators-info-content-categories">
      <div class="indicators-info-static">
        <div class="indicator-info-static-heading page-title">List of Indicators</div>
      </div>
      <div class="row">
        <!-- 
          <ul id="v-for-categoryNames" class="category-names column-33percent">
            <li class="l-box sub-header" v-for="categoryName in categoryNames">
              <a :href="'#' + categoryName">{{ categoryName }}</a>
            </li>
          </ul>
        -->
        <div class="indicators">
          <div v-for="category in categoricalIndicators">
              <div class="box">
                <a :name="category.categoryName" class="named-anchor"></a>
                <div v-bind:class="category.showCategory ? 'accordion expanded' : 'accordion'">
                  <div class="align-No sub-header"  @click="onCategoryExpand(category)"> 
                    {{category.categoryId}} - {{category.categoryName}}
                  </div>
                  <div class="accordion-content">
                    <div class="row table-header header-regular">
                      <div class="column-50percent">
                        <span class="indicator-id">#</span>
                        <span class="indicator-name">Indicator</span>
                      </div>
                      <div class="column-50percent">
                        <span>Definition</span>
                      </div>
                    </div>
                    <div v-for="indicator in category.indicators">
                      <div class="row indicator">
                        <div class="column-50percent">
                          <span class="indicator-id">{{indicator.indicatorId}}</span>
                          <span class="indicator-name">{{indicator.indicatorName}}</span>
                        </div>
                        <div class="column-50percent">
                          <span>{{indicator.indicatorDefinition}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="top">
      <a class="arrow" href="#"><span class="fa  fa-chevron-circle-up fa-3x"></span></a>
    </div>
  </div>
</div>
