<div class="header">
  <div class="header-width">
    <div class="header-elements">
      <router-link :to="{path: '/'}"><span class="logo-name hd-element">Global Digital Health Index</span></router-link>
      <router-link :to="{path: '/map'}" class="hd-element xs-length"><span>World Map</span></router-link>
      <router-link :to="{path: '/indicators_info'}" class="hd-element xl-length"><span>List of Indicators</span></router-link>
      <router-view name="search"></router-view>
    </div>
  </div>
</div>
