<div class="header">
  <div class="header-width">
    <div class="header-elements">
      <a href="javascript:void(0);" class="logo-name hd-element"><span class="">Global Digital Health Index</span></a>
      <span class="hd-element xs-length"><router-link :to="{path: '/map'}">World Map</router-link></span>
      <span class="hd-element xl-length"><router-link :to="{path: '/indicatorsInfo'}">List of Indicators</router-link></span>
      <countrySearch></countrySearch>
    </div>
  </div>
</div>
