.countries-list-details {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  .country-name{
    width: 240px;
    display: inline-block;
  }
  .country-score {
    display: inline-block;
    margin: 5px 20px;
    padding: 10px;
    color: $white;
    min-width: 20px;
    text-align: center;
  }
}