.indicator-items {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $border-color;
}
.indicator-definition {
  color: $font-grey;
}
.scores {
  margin: 10px 0;
  .score-info {
    display: inline-block;
    max-width: 90%;
  }
  * {
    vertical-align: top;
  }
}
.header-bold {
  margin: 20px 0;
}
.button-container {
  margin-top : 40px;
  .btn {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.description_container {
  flex-wrap: wrap;
  label {
    display: block;
  }
}
