.indicators {
  width: 100%;
  .row {
    @media screen and (max-width: 1024px) {
      flex-wrap: nowrap;
    }
  }
  .column-50percent {
    @media screen and (max-width: 1024px) {
      width: 50%;
      margin-right: 20px;
      margin-top: 0px;
    }
  }
}


.indicator-id, .indicator-name {
  display: inline-block;
  vertical-align: top;
}
.indicator-id {
  min-width: 32px;
}
.indicator-name {
  max-width: calc(100% - 40px);
}
.table-header {
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
}
.indicators-info {
  .accordion-content {
    border-top: 0px;
  }
}
