.content-container {
  padding-top: 85px;
  min-height: calc(100% - 135px);
  .content-width {
    width: 90%;
    margin: 0 auto;
    height: 100%;
  }
  .content-centered {
    width: 90%;
    margin: 0 auto;
  }
  .export {
    margin-left: auto;
    color: $white;
    @extend .copy;
    &.home {
      position: absolute;
      z-index: 3;
      left: 19%;
      padding: 10px 0px;
      margin: 5px 0 0 0px;
    }
    .pipe {
      margin: 0px 20px;
      display: inline-block;
    }
  }
  //TODO: Hacky fix
  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    .export.home {
      left: 18%;
    }
  }
}
