.content-container {
  position: relative;
  top: 90px;
  width: 100%;
  height: 100%;
  .content-width {
    width: 93%;
    margin: 0 auto;
    height: 100%;
  }
  .content-centered {
    width: 83%;
    overflow: auto;
  }
  .export {
    margin-left: auto;
    margin-top: 60px;
    color: $link-blue;
    font-size: 12px;
    &.home {
      position: absolute;
      z-index: 1001;
      right: 15%;
      padding: 10px;
      margin: 0 0 10px 0;
    }
  }
}
