.footer {
  width: 100%;
  background: #fff;
  height: 35px;
  font-size: 12px;
  font-family: 'RobotoLight';
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  box-sizing: border-box;
  color: $link-blue;
  z-index: 1000;
  .footer-width {
    width: 92%;
    margin: 0 auto;
  }
  .ft-element {
    &:after {
      content: '|';
      padding: 0 5px;
    }
  }
  .float-right {
    float: right;
  }
}
