.header {
  width: 100%;
  background: $white;
  font-family: 'RobotoMedium';
  position: fixed;
  top: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;

  .header-width {
    margin: 0 auto;
    width: 92%;
  }
  .hd-element {
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
  }
  .xl-length {
    padding-left: 25px;
    color: $link-blue;
  }

  .xs-length {
    padding-left: 25px;
    color: $link-blue;
  }
  .hide {
    display: none;
  }
}

.header-elements {
  display: flex;
  width: 100%;
  .logo-name {
    max-width: 190px;
    font-size: 23px;
    color: $logo-blue;
    font-family: 'RobotoSlabBold';
    text-transform: uppercase;
    letter-spacing: -0.1px;
    cursor: default;
  }
  .search-box {
    position: absolute;
    right: 75px;
    top: 18px;
    &-container {
      width: 100%;
      font-size: 12px;
      background: url('./assets/img/search.svg') no-repeat right 10px center;
      background-size: 15px;
    }
  }
  .router-link-exact-active {
    color: $font-grey-dark;
  }
}
.header-elements__right {
  display: inline-flex;
  width: 15%;
}
