.header {
  width: 100%;
  background: $white;
  position: fixed;
  top: 0;
  @extend .box-shadow;
  z-index: 3;
  line-height: 1;

  .header-width {
    margin: 0 auto;
    width: 92%;
  }
  .hd-element {
    padding: 15px 0px;
    @extend .header-regular;
    display: inline-block;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  .hide {
    display: none;
  }
}

.header-elements {
  display: flex;
  width: 100%;
  .logo-name {
    max-width: 190px;
    color: $logo-blue;
    text-transform: uppercase;
    letter-spacing: -0.1px;
    cursor: default;
    @extend .logo-font;
  }
  .search-box {
    position: absolute;
    right: 75px;
    top: 8px;
    &-container {
      width: 100%;
      font-size: 12px;
      background: url('./assets/img/search.svg') no-repeat right 10px center;
      background-size: 15px;
    }
  }
  a {
    border-bottom: 4px solid transparent;
  }
  .router-link-exact-active {
    border-bottom: 4px solid $logo-blue;
    background: $selected-menu;
  }
}
.header-elements__right {
  display: inline-flex;
  width: 15%;
}
