.header {
  width: 100%;
  background: $white;
  font-family: 'RobotoMedium';
  position: fixed;
  top: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 14px;

  .header-width {
    margin: 0 auto;
    width: 92%;

  }
  .hd-element {
    display: flex;
    align-items: flex-end;
    padding: 20px 0px;
    flex-grow: 0.4;

  }
  .xl-length {
    flex-grow: 5;
    color: $link-blue;
  }
}

.header-elements {
  display: flex;
  width: 100%;
  .logo-name {
    width: 160px;
    font-size: 23px;
    color: $logo-blue;
    font-family: 'RobotoSlabBold';


  }
  .search-box {
    input {
      width: 100%;
      padding: 5px 3px;
      font-size: 12px;
    }
  }


}
.header-elements__right {
  display: inline-flex;
  width: 15%;
  .search-box {

  }
}


