.methodology {
  width: 70%;
  margin: 60px auto;
  .methodology-title {
    font-family: RobotoSlab-Regular;
    font-size: 22px;
    color: $black;
  }
  .content {
    margin-top: 15px;
    font-family: RobotoSlabRegular;
    font-size: 12px;
    color: #000000;
    line-height: 20px;
  }
  p {
    padding-top: 16px;
    text-align: justify;
  }
  ul {
    padding-left: 16px;
  }
  ul > li {
    list-style: disc;
  }
  .link {
    color: $link-blue;
  }
}
