//colors
$header-grey: #4a4a4a;
$bg-beige: #f2f2e4;
$white: #fff;
$logo-blue: #3f4d7c;
$footer-blue: blue;
//$score1: #225e8e;
//#score2: #77b2bf;
//#score3: #505377;
//$na: #606060;
//$score0: #063c66;
//$score5: #676b9f;
//$score4: #242848;
//
//
//Helvetica



