//colors
$header-grey: #606060;
$bg-beige: #f2f2e5;
$white: #fff;
$logo-blue: #3F4D7D;
$link-blue: #4A90E2;

$na: #606060;
$score1: #BEDCE3;
$score2: #77B2BF;
$score3: #387886;
$score4: #225E8E;
$score5: #11184B;
$score6: #EAECDC;

$grey: #dcdcdc;
$black: #000000;
$table-header: #444444;
$table-border: 1px solid #CCCCCC
//Helvetica
