//colors
$header-grey: #606060;
$bg-beige: #f2f2e5;
$white: #fff;
$logo-blue: #3F4D7D;
$link-blue: #4A90E2;
$black: #000000;

$na: #606060;
$score1: #BEDCE3;
$score2: #77B2BF;
$score3: #387886;
$score4: #225E8E;
$score5: #11184B;
$score6: #EAECDC;
$score-background1: #F7F8EB;
$score-background2: #F8F8F2;

$grey: #dcdcdc;
$light-grey: #f7f7f7;
$font-grey: #9b9b9b;


$table-header: #444444;
$table-border: 1px solid #CCCCCC
