@import "reset";
@import "font";
@import "./vendor/easy-autocomplete";
@import "~leaflet/dist/leaflet.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "components/all";


body, html {
  font-family: 'RobotoRegular', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42;
  background: $body-bg;
  color: $black-grey;
}
 
 #app {
   width: 100%;
   height: 100%;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 .clearfix:after{
   content: "";
   display: table;
   clear: both;
 }
 p {
   margin: 0;

 }

/* Spinner */
.loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000 center;
  z-index: 4;
  opacity: 0.5;

  .error {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 100px;
    margin: auto;
    font-size: 35px;
    color: $grey;
  }

  .error:before {
    content: "Loading";
  }

  .error:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(5,end) 900ms infinite;
    animation: ellipsis steps(5,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.full-height {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.copy {
  font-size: 1em;
  font-weight: $regular;
  font-family: "RobotoRegular", sans-serif;
}
.copy-italics {
  font-size: 1em;
  font-weight: $regular;
  font-family: "RobotoItalic", sans-serif;
}

.header-regular {
  font-size: 1.15em;
  font-family: "RobotoRegular", sans-serif;
  line-height: 1;
}

.header-bold {
  font-size: 1.15em;
  font-family: "RobotoBold", sans-serif;
  line-height: 1;
}

.sub-header {
  font-size: 1.07em;
  font-family: "RobotoRegular", sans-serif;
  line-height: 1;
}
.copy-small {
  font-size: 0.93em;
  line-height: 1;
  font-family: "RobotoRegular", sans-serif;
}

.box-shadow {
  box-shadow: 0px 2px 13.5px 1.5px rgba($shadow-grey, 0.2)
}
.logo-font {
  font-family: 'RobotoSlabBold';
  font-size: 23px;
  line-height: 1.09em;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.btn-primary {
  border-radius: 5px;
  background-color: $logo-blue;
  padding: 10px;
  display: inline-block;
  color: $white;
  @extend .sub-header;
  cursor: pointer;
}